{% extends "base.html" %}
{% block content %}
<p>{{message}}</p>
{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<form method="post" action="{{base_path}}/course/{{course.id}}/edit">
    
    <div class="form-group">
        <label class="control-label">Muokkaa kurssin nimeä:</label>
        <input type="text" name="name" class="form-control" value="{{course.name}}">

    </div>
    <div class="form-group">
        <label class="control-label">Muokkaa kurssin kuvausta:</label>
        <input type="text" name="description" class="form-control" value="{{course.description}}">

    </div>
        <div class="form-group">
        <label class="control-label">Muokkaa kurssin tilaa:</label>
        <input type="text" name="status" class="form-control" value="{{course.status}}">

  
    </div>
        <div class="form-group">
        <label class="control-label">Muokkaa kurssin alkua:</label>
        <input type="text" name="starts" class="form-control" value="{{course.starts}}">

    
    </div>
        <div class="form-group">
        <label class="control-label">Muokkaa kurssin loppua:</label>
        <input type="text" name="ends" class="form-control" value="{{course.ends}}">

    
    </div>
        <div class="form-group">
        <label class="control-label">Muokkaa kurssin julkasijaa:</label>
        <input type="text" name="publisher" class="form-control" value="{{course.publisher}}">

    </div>
   
        <div class="form-group">
        <label class="control-label">Muokkaa kurssin videolinkkiä:</label>
        <input type="text" name="url" class="form-control" value="{{course.url}}">

    </div>
    <button type="submit" class="btn btn-primary">Lähetä</button>
</form>
{% endblock %}