{% extends "base.html" %}
{% block content %}


        {% if message %}
        <div class="alert alert-success" role="alert">
            <ul>
                <li>{{message}}</li>
            </ul>
        </div>
        {% endif %} 

<h1 class="text-center">Kurssitarjonta</h1>

<p>
    <a href="{{base_path}}/course/new" class="btn btn-block btn-success ">Lisää kurssi</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Alkamispäivä</th>
            <th>Päättymispäivä</th>
            <th>Pitäjä</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for course in courses %}
        <tr>
            <td><a href="{{base_path}}/course/{{course.id}}">{{course.name}}</td>
            <td>{{course.starts}}</td>
            <td>{{course.ends}}</td>
            <td>{{course.publisher}}</td>
            <td>
                {% if course.status > 0 %}
                <label class="label label-success">tilaa
                    {% else %}
                    <label class="label label-danger">ei tilaa
                        {% endif %}
                        </td>
                        {% if course.status > 0 %}    
                        <td><a class="btn btn-default btn-sm" href="{{base_path}}/course/{{course.id}}/join">Ilmoittaudu</a></td>
                        {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                        {% endblock %}