{% extends "base.html" %}
{% block content %}
  <h1>Opiskelijan kokkikurssi</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Alkamispäivä:</strong> 11.11.2017</li>
    <li><strong>Päättymispäivä:</strong> 18.11.2017</li>
    <li><strong>Status:</strong> <label class="label label-success">tilaa</label></li>
    <li><strong>Pitäjä:</strong> Stan Fingery</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Tullaan tekemään jotain vegaaniruokaa päivämäärän aikaisena perjantaina ja lauantaina.
  </p>
{% endblock %}