{% extends "base.html" %}
{% block content %}
<h1>Muokkaa Kurssia Opiskelijan kokkikurssi</h1>

<form>
    <div class="checkbox">
        <label>
            <input type="checkbox">
            Tilaa
        </label>
    </div>
    <div class="form-group">
        <label>Nimi</label>
        <input type="text" class="form-control" value="Opiskelijan kokkikurssi">
    </div>
    <div class="form-group">
        <label>Alkamispäivä</label>
        <input type="text" class="form-control" value="11.11.2017">
    </div>
    <div class="form-group">
        <label>Päättymispäivä</label>
        <input type="text" class="form-control" value="18.11.2017">
    </div>
    <div class="form-group">
        <label>Pitäjä</label>
        <input type="text" class="form-control" value="Stan Fingery">
    </div>
    <div class="form-group">
        <label>Kuvaus</label>
        <textarea class="form-control">  Tullaan tekemään jotain vegaaniruokaa päivämäärän aikaisena perjantaina ja lauantaina.
        </textarea>
    </div>
    <div class="form-group">   
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}